html{
    background-color: #36454F;
}
h1,h3{
    color: #e0dbd1;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;

}
input[type=text] {
    padding: 10px;
    margin:10px 0;
    border:0;
    box-shadow:0 0 15px 4px rgba(248, 247, 247, 0.06);
    border-radius:10px;
    width: 5%;
    font-size: large;
  }

ul{
    list-style: upper-roman;
    font-size: 1.5rem;
    padding-block-start: 5px;
    padding-top: 10px;
    color: #e0dbd1;
}


/* CSS */
.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}